<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}SuruScraper{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="page-shell">
      <header class="headerBar">
      <div class="headerContainer">
        <div class="hamburger"">
          <p>hamburger here</p>
        </div>
        <div class="logotext">
          <p>SuruScraper</p>
        </div>
        <div class="notifbell">
          <p>notif bell</p>
        </div>
        <nav class="navmenu">
          <a href="{{ url_for('wishlist.index') }}">Home</a>
          <a href="{{ url_for('wishlist.create') }}">Add</a>
          <a href="{{ url_for('wishlist.settings') }}">Settings</a>
          {% if g.user %}
          {% else %}
          {% endif %}
        </nav>
      </header>

      <main class="content">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
  <footer>
    <div class="lgbox">
      light grey box
    </div>
    <div class="dgbox">
      dark gray actual bottom box
    </div>
  </footer>
</html>