{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<section class="auth-container">
	<div class="authbox" style="grid-area: top;">
		<form method="post">
			<p class="flex">SIGN IN</p>

			<label class="authtext" for="username">Username</label>
			<input class="flex" name="username" id="username" required autocomplete="username">

			<label class="authtext" for="password">Password</label>
			<input class="flex" type="password" name="password" id="password" required autocomplete="current-password">
			
			<div class="flex button">
				<button type="submit" class="button">Log In</button>
			</div>
		</form>

		<div>
			<a href="{{ url_for('auth.forgot_password') }}">Forgot your password?</a>
		</div>
	</div>
</section>
{% endblock %}