html, body{ 
    margin: 0;
    padding: 0;
}

/*Sticky header specific*/

.headerBar {
    background-color: #ffffff;
    border-top: 5px solid red;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    width: 100%;
    z-index: 1000;
    border-bottom: 10px solid white;
}

.headerContainer {
    display: grid;
    grid-template-areas:
    "left middle right"
    ". center ."; 
    grid-template-columns: 1fr auto 1fr;
    

}
 
.headerContainer div.hamburger{
    text-align: left;
    grid-area: left;
}

.headerContainer div.logotext {
    text-align: center;
    grid-area: middle;
}

.headerContainer div.notifbell {
    text-align:right;
    grid-area: right;
}

.headerContainer nav.navmenu {
    align-items: center;
    grid-area: center;
}

body {
    background-color: #eaecec;
}

div {
    background-color: #ffffff;
}